:root {
    --trans-color-1: rgb(32, 32, 32);
    --trans-color-2: rgb(48, 48, 48);
    --trans-gradient: repeating-linear-gradient(
        45deg,
        var(--trans-color-1),
        var(--trans-color-1) 4px,
        var(--trans-color-2) 4px,
        var(--trans-color-2) 8px
    );
}

#root {
    display: inline-block;
}

#scene-container {
    z-index: -1;
    background: var(--trans-gradient);
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


#scene-container > canvas {
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

#display {
    /*width: 512px;*/
    /*height: 512px;*/
    image-rendering: pixelated;
    cursor: none;

    margin-bottom: 8px;
    display: inline-block;
}

#tools {
    width: 256px;
    display: inline-block;
    background: black;
}

#brushes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#exports {
    height: 32px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#brushes > * {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#brushes > .selected {
    background-color: gray;
}

#colors > button {
    width: 48px;
    height: 48px;
    border: solid white 1px;
}

#eraser {
    background: var(--trans-gradient);
}

#colors > button.selected {
    border: solid white 5px;
}

#colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

