html, body {
    background-color: black;
}

#root {
    margin-left: auto;
    margin-right: auto;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

#display {
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    cursor: none;
    border: solid white;
    border-width: 2px;

    margin: auto;
    display: block;
}

#tools {
    width: 512px;

    margin: auto;
    display: block;
}

#colors > button {
    width: 32px;
    height: 32px;
}

.brush {
    width: 32px;
    height: 32px;
}
