html, body {
    background-color: black;
}

#root {
    margin-left: auto;
    margin-right: auto;
}

#root > canvas {
    --color1: rgb(32, 32, 32);
    --color2: rgb(48, 48, 48);
    background-color: var(--color1);
    background-image: 
        linear-gradient(45deg, var(--color2) 25%, transparent 25%), 
        linear-gradient(-45deg, var(--color2) 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, var(--color2) 75%), 
        linear-gradient(-45deg, transparent 75%, var(--color2) 75%);
    background-size: 4px 4px;
    background-position: 0 0, 0 2px, 2px -2px, -2px 0px;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

#display {
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    cursor: none;
    border: solid white;
    border-width: 2px;

    margin: auto;
    display: block;
}

#tools {
    width: 512px;
    display: block;
    margin: auto;
}

#brushes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#exports {
    height: 32px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#brushes > canvas {
    width: 48px;
    height: 48px;
}

#brushes > canvas.selected {
    background-color: gray;
}

#colors > button {
    width: 48px;
    height: 48px;
    border: solid white 1px;
}

#colors > button.selected {
    border: solid white 5px;
}

#colors {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 8px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
